<div class="main-container">
  <!-- Header horizontal -->
  <app-header></app-header>

  <!-- Section Hero (contient l'image de fond) -->
  <section class="hero-section">
    <div class="hero-text">
      <h3>Mieux acheter, mieux louer</h3>
    </div>
  </section>

  <!-- Zone de recherche -->
  <section class="search-container">
    <nav class="tabs">
      <button class="tab active">
        <i class="fas fa-home"></i>
        <span>Acheter</span>
      </button>
      <button class="tab">
        <i class="fas fa-key"></i>
        <span>Louer</span>
      </button>
      <button class="tab">
        <i class="fas fa-calculator"></i>
        <span>Estimer</span>
      </button>
    </nav>
    <div class="search-form">
      <mat-icon class="search-icon">place</mat-icon>
      <input type="text" placeholder="Saisir le lieu ou le code Postal..." class="input-field">
    </div>
  </section>

  <!-- Section Nos services dédiés -->
  <section class="dedicated-services">
    <div class="services-header">
      <h5>Nos services dédiés :</h5>
      <div class="services-buttons">
        <button class="service-button">
          <i class="fas fa-calculator"></i>
          <span>Estimer votre bien</span>
        </button>
        <button class="service-button">
          <i class="fas fa-building"></i>
          <span>Acheter dans le neuf</span>
        </button>
      </div>
    </div>
  </section>
  

  <!-- Section infos (agent & courtier) -->
  <section class="info-section">
    <div class="info-card agent-card">
      <div class="info-content">
        <h2>Trouver un agent à côté de chez vous</h2>
        <p>
          Que vous achetiez ou vendiez, bénéficiez de l'expertise d'un agent immobilier pour une transaction transparente et efficace du début à la fin.
        </p>
        <button class="info-button">Trouver un pro</button>
      </div>
      <div class="info-image">
        <img src="assets/agent-immobilier.png" alt="Trouver un agent">
      </div>
    </div>
    <div class="info-card courtier-card">
      <div class="info-image">
        <img src="assets/wilycourtier.webp" alt="Wily courtier">
      </div>
      <div class="info-content">
        <h2>Wily, le courtier de votre future assurance de prêt</h2>
        <p>
          Trouvez la solution adaptée à votre profil et à vos projets : prêts immobiliers, professionnels, à la consommation, regroupements de crédits, etc...
        </p>
        <button class="info-button">Mon devis gratuit</button>
      </div>
    </div>
  </section>

<!-- Section des biens -->
<section class="properties-section">
  <h2>Nos meilleurs partenaires pour vos projets</h2>
  <div class="property-grid">
    <div class="property-card" *ngFor="let property of properties; trackBy: trackProperty">
      <img [src]="property.image" [alt]="property.title" class="property-image">
      <h3 class="property-title">{{ property.title }}</h3>
      <p class="property-description">{{ property.description }}</p>
      <button class="property-button">{{ property.buttonLabel }}</button>
    </div>
  </div>
</section>



  <!-- Section Télécharger l'application -->
  <section class="download-section">
    <div class="download-container">
      <div class="download-image">
        <img src="assets/telephone.jpg" alt="Téléchargez l'application Logic-Immo">
      </div>
      <div class="download-content">
        <h2>Télécharger l'application Logic-Immo</h2>
        <p>
          Découvrez votre bien idéal à la location ou à la vente sans effort. Accédez à toutes les annonces immobilières à tout moment grâce à notre application gratuite.
        </p>
        <div class="download-links">
          <a href="#" class="app-link">
            <img src="assets/appstore.jpg" alt="Télécharger sur App Store">
          </a>
          <a href="#" class="app-link">
            <img src="assets/googleplay.png" alt="Télécharger sur Google Play">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Section Logic-immo, c'est aussi... -->
<section class="extra-section">
  <h1>Logic-immo, c'est aussi...</h1>
  <div class="extra-cards">
    <a href="#" class="extra-card">
      <img src="assets/LogicImmoNeufLogo.png" alt="LogicImmoNeufLogo">
    </a>
    <a href="#" class="extra-card">
      <img src="assets/LuxeResidenceLogo.png" alt="LuxeResidenceLogo">
    </a>
  </div>
</section>

    <!-- Footer en bas de pqge -->
    <app-footer></app-footer>

</div>
